.body {
    background-color: #f5f5f7;
    width: calc(100% - 5em);
    min-height: 100vh;
    float: right;
    padding: 1%;
}

@media (max-width: 500px){
    .cards{
        display: flex!important;
        flex-direction: column !important;

    }
    .card{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
.header-left span {
    margin-left: 5px;
}

.cards {
    padding: 1%;
    grid-area: content !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    grid-gap: 10px !important;
    justify-content: center !important;
}

.card {
    width: 250px !important;
}

.content-wrp section{
    margin: 5px 0;
}

.ui.cards>.card {
    background-color: #e1def7;
}