.menu-wrp{
    width: 5em !important;
    float: left;
    position: fixed;
}

.menu{
    padding: 1%;
    box-sizing: border-box;
    height: 100vh;
    background-color:#1b1c1d !important;
}

.menu-item{
    color:#00b5ad !important;
}
.menu-item:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background:rgba(220, 237, 255, 0.1) !important;
}

.ui.vertical.icon.menu{
    width: 100% !important;
}