.leftUsers {
    width: 26px;
    height: 26px;
    display: inline-block;
}


.content-wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.place-card {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
}